@model ItAcademy.PropertyCenter.Entities.Announcement

@{
    ViewBag.Title = "Edit Announcement";
}

@using (Html.BeginForm())
{
    @Html.Partial("_AddEditAnnouncement")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}